<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="html keyword counting." />
    <meta name="keywords" content="contman, counting" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/general.css') }}"/>
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/content.js') }} " defer></script>
</head>
<body>
    <div id="box">
        <form>
            <input type="text" name="url" placeholder="Paste here url page"/>
            <div class="errorMessage"></div>
            <div class="checkbox">
                <input type="checkbox" name="case_sensitive" />
                <label>Case sensitive</label>  
            </div>
            <button type="button">Submit</button>
            <output></output>
        </form>
    </div>
</body>
</html>
